/*@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* unvisited link */
p a{
    color: #27381e;
    text-decoration: none;
}

/* mouse over link */
p a:hover {
    color: greenyellow;
    text-decoration: none;
}

  
.hero{
    width:100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

#text-wrapper{
    color: white;
    text-align: center;
    width: 60%;
    padding: 0%;
    margin: 0%;
}

#headline{
    font-size: 6em;
    line-height: 1.5;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
}

#subheader{
    font-size: 18px;
}

/*h1.arrow { font-size: 15px; text-transform: uppercase; color: #353535; letter-spacing: 1px; background: url('../img/h1-bg.png') no-repeat center bottom; padding-bottom: 30px; font-weight: bold; }

.wp1, .wp2, .wp3, .wp4, .wp5, .wp6 { visibility: hidden; }
.bounceInLeft, .bounceInRight, .fadeInUp, .fadeInUpDelay, .fadeInDown, .fadeInUpD, .fadeInLeft, .fadeInRight { visibility: visible; }

.intro { background: #f3f5f8; }
.intro p { margin: 50px 0 0; }
.section-padding { padding: 90px 0 100px }*/


.parallax{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.partition-discover{
    height:100vh;
}


/*Discover Section*/
.discover-container{
    padding-top: 20px;
    width:100%;
    height: 23vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    color:#2D442F;
    
}

.discover-container h2{
    position: relative;
    margin: 0px;
    font-size: 3em;
    z-index: 1;
    overflow: hidden;
}

.discover-container h2 span{
    color: #3e582f;
}

.discover-container h2:before
{
    content: '';
    position: absolute;
    left:0%;
    width: 120%;
    height: 100%;
    /*background: linear-gradient(90deg, transparent 0%, #fff 5%, #fff 100%);
    animation: animate 5s linear forwards;*/
}

@keyframes animate
{
    0%
    {
        left: -20%;
    }
    100%
    {
        left: 120%;
    }
}

.animate__animated.animate__fadeIn, .animate__animated.animate__fadeInUp{
    --animate-duration: 2s;
    visibility: visible;
  }

.wp1 {visibility: hidden;}

/*Project Background*/
.partition-background{
    height:100vh;
    padding: 40px;
    background-color: #2D442F;
    color: white;
    line-height: 1.5;
    
}

#leaflet {
    height: 100%;
}

/*Square Border*/
.square{
    position: relative;
    left: 40px;
    top: -310px;
    z-index: 2;
    height: 350px;
    width: 350px;
    border: 5px solid white;
}

/*Contact Us*/
.partition-about{
    height:100vh;
    padding: 40px;
    color: #27381e;
    line-height: 1.8;
}

/*Index Footer*/
footer{
    height: 10vh;
    background-color: gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
}
