@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.hero{
    width:100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

#text-wrapper{
    color: white;
    text-align: center;
    width: 60%;
    padding: 0%;
    margin: 0%;
}

#headline{
    font-size: 6em;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

#subheader{
    font-size: 18px;
}

.parallax{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.partition-discover{
    height:100vh;
}

.partition-background{
    height:100vh;
    background-color: #2D442F;
}

.partition-about{
    height:100vh;
}

/*Discover Section*/
.discover-container{
    padding-top: 50px;
    width:100%;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    color:#2D442F;
}

.discover-container h2{
    position: relative;
    margin: 0px;
    font-size: 3em;
    z-index: 1;
    overflow: hidden;
}

.discover-container h2 span{
    color: #3e582f;
}

.discover-container h2:before
{
    content: '';
    position: absolute;
    left:0%;
    width: 120%;
    height: 100%;
    background: linear-gradient(90deg, transparent 0%, #fff 5%, #fff 100%);
    animation: animate 5s linear forwards;
}

@keyframes animate
{
    0%
    {
        left: -20%;
    }
    100%
    {
        left: 120%;
    }
}


