{% extends "PlantWebApp/base-dashboard.html" %}
{% load static %}

{% block content %}
<!-- Google Font: Source Sans Pro -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

<!--https://github.com/StephanWagner/svgMap-->
<script src="https://cdn.jsdelivr.net/npm/svg-pan-zoom@3.6.1/dist/svg-pan-zoom.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/StephanWagner/svgMap@v2.1.1/dist/svgMap.min.js"></script>
<link href="https://cdn.jsdelivr.net/gh/StephanWagner/svgMap@v2.1.1/dist/svgMap.min.css" rel="stylesheet">

<!--Chart Scroll-->
<link rel="stylesheet" href="{% static '/css/adminHomeStyle.css' %}">

<!--div class="col py-3" id='cool'-->

    <!--Site Admin Content header-->
    <div class="content-header" style="padding-left:25px ;">
          <div class="row">
            <div class="col-sm-10">
              <h3 class="m-0">Site Admin Dashboard</h3>
            </div><!-- /.col -->
            <!--div class="col">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item active">Dashboard</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
    </div><br>

   
    <!-- Main content -->
    <section class="content">
            <div class="container-fluid">
              <!-- Small boxes (Stat box) -->
              <div class="row">
                <div class="col-lg-3 col-6">
                  <!-- small box -->
                  <div class="small-box" style="background-color: #d6f7e7;">
                      <div class="row">
                        <!--div class="inner"-->
                        <div class="col-sm-4" style="margin-left: 20px;">
                            <br>
                            <div id="total_plant">
                                <h3>{{total_plant}}</h3>
                            </div>
                        <p>Records Stored</p>
                        </div>
                        <!--div class="icon"-->
                        <div class="col" style="display:flex; justify-content: center; align-items: center;">
                            <br>
                            <i class="fas fa-seedling fa-3x"></i>
                        </div>
                    </div>
                    </div>
                </div><!-- ./col -->

                <div class="col-lg-3 col-6">
                  <!-- small box -->
                  <div class="small-box" style="background-color: #b1dfc9;">
                      <div class="row">
                        <!--div class="inner"-->
                        <div class="col-sm-4" style="margin-left: 20px;;">
                        <br>
                            <div id="pub">
                                <h3>{{plant_pub}}</h3>
                            </div>
                        <p>Records Published</p>
                        </div>
                        <!--div class="icon"-->
                        <div class="col" style="display:flex; justify-content: center; align-items: center;">
                            <br>
                            <i class="fab fa-pagelines fa-3x"></i>
                        </div>
                    </div>
                    </div>
                </div><!-- ./col -->

                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box" style="background-color: #89c7aa;">
                        <div class="row">
                          <!--div class="inner"-->
                          <div class="col-sm-4" style="margin-left: 20px;;">
                              <br>
                            <div id="use">
                                <h3>{{use_tag}}</h3>
                            </div>
          
                          <p>Ethnobotanical Uses</p>
                          </div>
                          <!--div class="icon"-->
                          <div class="col" style="display:flex; justify-content: center; align-items: center;">
                              <br>
                              <i class="fab fa-canadian-maple-leaf fa-3x"></i>
                          </div>
                      </div>
                      </div>
                  </div><!-- ./col -->

                  <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box" style="background-color: hsl(153, 27%, 57%);">
                        <div class="row">
                          <!--div class="inner"-->
                          <div class="col-sm-4" style="margin-left: 20px;;">
                              <br>
                            <div id="user_no">
                                <h3>{{user_no}}</h3>
                            </div>
                          <p>Registered Users</p>
                          </div>
                          <!--div class="icon"-->
                          <div class="col" style="display:flex; justify-content: center; align-items: center;">
                              <br>
                              <i class="fas fa-user fa-3x"></i>
                          </div>
                      </div>
                      </div>
                  </div><!-- ./col -->
              </div><!-- /.row -->
    <br>

          <!-- Main content -->
          <div class="row">

            <!--SVG Map-->
            <div class="col-lg-6">
              <div class="card">
                <div class="card-header border-0">
                  <div class="d-flex justify-content-between">
                    <h5 class="card-title">Plant Records Based on Distribution</h5>
                    <!--a href="javascript:void(0);">View Report</a-->
                  </div>
                </div>
                <div class="card-body" id="svgCard">
                  <div id="svgMap"></div><br>

                  <div class="country-tb-wrapper">
                    <div class="vertical-scroll">
                      <table class="table table-light table-striped">
                        <thead>
                          <tr>
                            <th scope="col-1"></th>
                            <th scope="col">Country</th>
                            <th scope="col-2">Total Records</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for key,val in country_dict.items %} 
                            <tr>
                              <th scope="row">{{ forloop.counter}}</th>
                              <td><a id="country-anchor" href="http://127.0.0.1:8000/country-data-detail/{{key}}">{{ key }}</a> </td>
                              <td>{{ val }}</td>
                            </tr>
                            {% endfor %}
                          
                        </tbody>
                        
                      </table>
                    </div>      
                  </div>
                </div>
              </div>
            </div>

            <!--Site users' activity-->
            <div class="col-lg-6">
                <div class="card">
                  <div class="card-header border-0">
                    <div class="d-flex justify-content-between">
                      <h5 class="card-title">Site Users</h5>
                      <!--a href="javascript:void(0);">View Report</a-->
                    </div>
                  </div>
                  <div class="card-body" id="user-activity">
                    <!--Logged In Users-->
                    <div class="d-flex">
                      <h6>Logged In: {{logged_users.paginator.count}}  User{{logged_users|pluralize}}</h6> 
                    </div>
                    <!-- /.d-flex -->
                    <div class="position-relative mb-4">
                      <table class="table table-dark table-striped">
                        <thead>
                          <tr>
                            <th scope="col"></th>
                            <th scope="col">Name</th>
                            <th scope="col">Username</th>
                            <th scope="col-1"></th>
                          </tr>
                        </thead>
                        <tbody>  
                          {% for u in logged_users %}
                          <tr>
                            <th scope="row">{{ forloop.counter0|add:logged_users.start_index }}</th>
                            <td>{{u.first_name}} {{u.last_name}}</td>
                            <td>{{u.username}}</td>
                            <td><span class="text-success"><i class="fas fa-circle fa-xs"></i></span></td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                      <!--Pagination-->
                      <nav aria-label="Page navigation example">
                        <ul class="pagination pagination-sm justify-content-center ">
                        {% if logged_users.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page={{ logged_users.previous_page_number }}">&laquo;</a></li>
                        {% endif %}
                
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                                    Page {{logged_users.number}} of {{logged_users.paginator.num_pages}}
                                </a>
                            </li> <!--Page 1 of 3-->   
                
                            {% if logged_users.has_next %}
                                <li class="page-item"><a class="page-link" href="?page={{ logged_users.next_page_number }}">&raquo;</a></li>
                            {% endif %}
                        </ul>
                      </nav>
                    </div>

                    <!--Logged Out Users-->
                    <div class="d-flex">
                      <h6>Logged Out: {{logged_out_users.paginator.count}}  User{{logged_out_users|pluralize}}</h6> 
                    </div>
                    <!-- /.d-flex -->
                    <div class="position-relative mb-4">
                      <table class="table table-dark table-striped">
                        <thead>
                          <tr>
                            <th scope="col"></th>
                            <th scope="col">Name</th>
                            <th scope="col">Last Logged In</th>
                            <th scope="col-1"></th>
                          </tr>
                        </thead>
                        <tbody>  
                          {% for u in logged_out_users %}
                          <tr>
                            <th scope="row">{{ forloop.counter0|add:logged_out_users.start_index }}</th>
                            <td>{{u.first_name}} {{u.last_name}}</td>
                            <td>{{u.last_login}}</td>
                            <td><span class="text-secondary"><i class="fas fa-circle fa-xs"></i></span></td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>

                      <!--Pagination-->
                      <nav aria-label="Page navigation example">
                        <ul class="pagination pagination-sm justify-content-center ">
                        {% if logged_out_users.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page={{ logged_out_users.previous_page_number }}">&laquo;</a></li>
                        {% endif %}
                
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                                    Page {{logged_out_users.number}} of {{logged_out_users.paginator.num_pages}}
                                </a>
                            </li> <!--Page 1 of 3-->   
                
                            {% if logged_out_users.has_next %}
                                <li class="page-item"><a class="page-link" href="?page={{ logged_out_users.next_page_number }}">&raquo;</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <!-- /.row -->
            <br>

            <!-- !!!!/.col-md-6 -->
            <div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-header border-0">
                  <div class="d-flex justify-content-between">
                    <h5 class="card-title">Plant Records Based on Uses</h5>
                    <!--a href="javascript:void(0);">View Report</a-->
                    <div class="grp">
                      <button id="zoomIn" onclick="ZoomIn"><i class="fas fa-search-plus"></i></button>
                      <button id="zoomOut" onclick="ZoomOut"><i class="fas fa-search-minus"></i></button>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="scroll">
                      <div class="use-chart" style="width: 1024px;">
                        <canvas id="use-chart" data-url="{% url 'use-chart' %}"></canvas>
                      </div>
                  </div>
 
                </div>
              </div>
              <!-- /.card -->
              </div>
            </div>
            <!-- /.col-md-6 -->

                       
        </div>
              


</div>
</section>

<!--Usage Chart Size Adjustments-->
<script>

  function ZoomIn() {
    //document.querySelector(".use-chart").style.width += 1000;
    //jquery
    $('.use-chart').width("+=100");
  }

  function ZoomOut() {
    //jquery
    if ($('.use-chart').width() > 1024 ){
      $('.use-chart').width("-=100");
    }
  }
  
  document.getElementById("zoomIn").onclick = function() {ZoomIn()};
  document.getElementById("zoomOut").onclick = function() {ZoomOut()};
  
</script>

<!--svgMap.js-->
<script>

    //Convert to array
    var country_list ="{{country_list|safe}}".replace(/[^a-zA-Z0-9,]+/g, "").split(",");
    var country_record_arr = "{{country_record|safe}}".replace(/[^a-zA-Z0-9,]+/g, "").split(",")
    var country_dict = {};
    
    for (let i = 0; i < country_list.length ; i++)
    {
      var tmp = country_list[i]
      country_dict[tmp] = {'plant':country_record_arr[i]};
      //country_dict[tmp] = {'plant':''};
    }

    var map = new svgMap({
    targetElementID: 'svgMap',
    data: {
      data: {
        plant: {
          name: 'Plant Record(s)',
          format: '{0}'
        },
      },
      applyData: 'plant',
      values: country_dict
    }
  });

  /*
  function updateMap()
  {
    var $svgMap = $("#svgMap");
    $.ajax({
    url: $svgMap.data("url"),
    success: function (data) {
      //console.log(data);
      
      //Convert to array
      var country_list ="{{country_list|safe}}".replace(/[^a-zA-Z0-9,]+/g, "").split(",");
      var country_record_arr = "{{country_record|safe}}".replace(/[^a-zA-Z0-9,]+/g, "").split(",")
      var country_dict = {};
      
      for (let i = 0; i < country_list.length ; i++)
      {
        var tmp = country_list[i];
        country_dict[tmp] = {'plant':country_record_arr[i]};
      }
      //map.options.data.values = data;
      //console.log(map.options.data.values)
      //update
    }

    })
  }*/

</script>

<!--Chart.js-->
<script>
  function updateChart()
  {
    //console.log(chart1);

    var $useChart = $("#use-chart");
    var ctx = $useChart[0].getContext("2d");

    //Colour
    var grd = ctx.createLinearGradient(0, 0, 700, 0);
    grd.addColorStop(0, "#1e403f"); //#3b7d39
    grd.addColorStop(1, "#fcb8b1");

    $.ajax({
    url: $useChart.data("url"),
    success: function (data) {

    chart1.data =  {
            labels: data.labels,
            datasets: [{
            label: 'Plant record',
            backgroundColor: grd,
            data: data.data
            }]          
        }

    chart1.options = {options: {
            legend: {
            position: 'top',
            },
            title: {
            display: true,
            text: 'Bar Chart of Plants Based On Their Uses'
            }
            
        }}
      }})
        
    chart1.update('none');
        
  }


    //global variable (to be used in dfferent functions - chartjs: create & update)
    
    var chart1;
    var GetChartData = function () {
    var $useChart = $("#use-chart");
    $.ajax({
    url: $useChart.data("url"),
    success: function (data) {

        var ctx = $useChart[0].getContext("2d");

        var grd = ctx.createLinearGradient(0, 0, 700, 0);
        grd.addColorStop(0, "#1e403f"); //#3b7d39
        grd.addColorStop(1, "#fcb8b1");

        chart1 = new Chart(ctx, {
        type: 'bar', 
        data: {
            labels: data.labels,
            datasets: [{
            label: 'Plant record',
            backgroundColor: grd,
            data: data.data,
            }]          
        },
        options: {
            legend: {
            position: 'top',
            },
            title: {
            display: true,
            text: 'Bar Chart of Plants Based On Their Uses'
            }
            
        }
        });
    }
    });

    };
    GetChartData();
    
</script>

<!--AJAX Refresh-->
<script>
    function refresh() {
        updateChart();

        console.log('Page Refreshed');
        $.ajax({
            url: "{% url 'user_home' %}",
            success: function(dat) {
                // Refresh Total Number in Small Boxes 
                $('#total_plant').replaceWith($('#total_plant',dat));
                $('#pub').replaceWith($('#pub',dat));
                $('#use').replaceWith($('#use',dat));
                $('#user_no').replaceWith($('#user_no',dat));

                $('.country-tb-wrapper').replaceWith($('.country-tb-wrapper',dat));

                // Refresh User Activity Section
                $('#user-activity').replaceWith($('#user-activity',dat));

                //console.log($('#svgMap'));
                //var country_dict = country_dict;
                //console.log(country_dict);
                //console.log(cc);
                //map.options.data.values = cc;
                //console.log(map.options.data.values)
            }
        }
        );
    }
    var seconds = 10; // seconds, edit here
    setInterval(refresh,seconds * 1000);
</script>


{% endblock content %}