{% extends "PlantWebApp/base-dashboard.html" %}

{% block content %}
<!-- Google Font: Source Sans Pro -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

<!--https://github.com/StephanWagner/svgMap-->
<script src="https://cdn.jsdelivr.net/npm/svg-pan-zoom@3.6.1/dist/svg-pan-zoom.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/StephanWagner/svgMap@v2.1.1/dist/svgMap.min.js"></script>
<link href="https://cdn.jsdelivr.net/gh/StephanWagner/svgMap@v2.1.1/dist/svgMap.min.css" rel="stylesheet">

<div class="col py-3">

    <!--Site Admin Content header-->
    <div class="content-header" style="padding-left:25px ;">
          <div class="row">
            <div class="col-sm-9">
              <h3 class="m-0">Site Admin Dashboard</h3>
            </div><!-- /.col -->
            <div class="col">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Admin Dashboard</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
    </div><br>

   
    <!-- Main content -->
    <section class="content">
            <div class="container-fluid">

              <!-- Small boxes (Stat box) -->
              <div class="row">
                <div class="col-lg-3 col-6">
                  <!-- small box -->
                  <div class="small-box" style="background-color: #d6f7e7;">
                      <div class="row">
                        <!--div class="inner"-->
                        <div class="col-sm-4" style="margin-left: 20px;">
                            <br>
                            <div id="total_plant">
                                <h3>{{total_plant}}</h3>
                            </div>
                        <p>Records Stored</p>
                        </div>
                        <!--div class="icon"-->
                        <div class="col" style="display:flex; justify-content: center; align-items: center;">
                            <br>
                            <i class="fas fa-seedling fa-3x"></i>
                        </div>
                    </div>
                    </div>
                </div><!-- ./col -->

                <div class="col-lg-3 col-6">
                  <!-- small box -->
                  <div class="small-box" style="background-color: #b1dfc9;">
                      <div class="row">
                        <!--div class="inner"-->
                        <div class="col-sm-4" style="margin-left: 20px;;">
                        <br>
                            <div id="pub">
                                <h3>{{plant_pub}}</h3>
                            </div>
                        <p>Records Published</p>
                        </div>
                        <!--div class="icon"-->
                        <div class="col" style="display:flex; justify-content: center; align-items: center;">
                            <br>
                            <i class="fab fa-pagelines fa-3x"></i>
                        </div>
                    </div>
                    </div>
                </div><!-- ./col -->

                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box" style="background-color: #89c7aa;">
                        <div class="row">
                          <!--div class="inner"-->
                          <div class="col-sm-4" style="margin-left: 20px;;">
                              <br>
                            <div id="use">
                                <h3>{{use_tag}}</h3>
                            </div>
          
                          <p>Ethnobotanical Uses</p>
                          </div>
                          <!--div class="icon"-->
                          <div class="col" style="display:flex; justify-content: center; align-items: center;">
                              <br>
                              <i class="fab fa-canadian-maple-leaf fa-3x"></i>
                          </div>
                      </div>
                      </div>
                  </div><!-- ./col -->

                  <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box" style="background-color: hsl(153, 27%, 57%);">
                        <div class="row">
                          <!--div class="inner"-->
                          <div class="col-sm-4" style="margin-left: 20px;;">
                              <br>
                            <div id="user_no">
                                <h3>{{user_no}}</h3>
                            </div>
                          <p>Registered Users</p>
                          </div>
                          <!--div class="icon"-->
                          <div class="col" style="display:flex; justify-content: center; align-items: center;">
                              <br>
                              <i class="fas fa-user fa-3x"></i>
                          </div>
                      </div>
                      </div>
                  </div><!-- ./col -->
              </div><!-- /.row -->
    <br>

    <!-- Main content -->
          <div class="row">
            <div class="col-lg-6">
              <div class="card">
                <div class="card-header border-0">
                  <div class="d-flex justify-content-between">
                    <h5 class="card-title">Plant Records Based on Distribution (stored/pub)</h5>
                    <!--a href="javascript:void(0);">View Report</a-->
                  </div>
                </div>
                <div class="card-body">
                  <div id="svgMap"></div>
                </div>
              </div>
            </div>

            <div class="col-lg-6">
                <div class="card">
                  <div class="card-header border-0">
                    <div class="d-flex justify-content-between">
                      <h5 class="card-title">Plant Records Based on Distribution</h5>
                      <!--a href="javascript:void(0);">View Report</a-->
                    </div>
                  </div>
                  <div class="card-body">
                    <!--div class="d-flex">
                      <p class="d-flex flex-column">
                        <span class="text-bold text-lg">820</span>
                        <span>Visitors Over Time</span>
                      </p>
                      <p class="ml-auto d-flex flex-column text-right">
                        <span class="text-success">
                          <i class="fas fa-arrow-up"></i> 12.5%
                        </span>
                        <span class="text-muted">Since last week</span>
                      </p>
                    </div>
                    <!-- /.d-flex -->
    
                    <div class="position-relative mb-4">
                      <canvas id="visitors-chart" height="200"></canvas>
                    </div>
    
                    <!--div class="d-flex flex-row justify-content-end">
                      <span class="mr-2">
                        <i class="fas fa-square text-primary"></i> This Week
                      </span>
    
                      <span>
                        <i class="fas fa-square text-gray"></i> Last Week
                      </span>
                    </div-->
                  </div>
                </div>
              </div>
            </div>
            <!-- /.row -->
            <br>

            <!-- !!!!/.col-md-6 -->
            <div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-header border-0">
                  <div class="d-flex justify-content-between">
                    <h5 class="card-title">Plant Records Based on Uses</h5>
                    <!--a href="javascript:void(0);">View Report</a-->
                  </div>
                </div>
                <div class="card-body">
                  <!--div class="d-flex">
                    <p class="d-flex flex-column">
                      <span class="text-bold text-lg">$18,230.00</span>
                      <span>Sales Over Time</span>
                    </p>
                    <p class="ml-auto d-flex flex-column text-right">
                      <span class="text-success">
                        <i class="fas fa-arrow-up"></i> 33.1%
                      </span>
                      <span class="text-muted">Since last month</span>
                    </p>
                  </div>
                  <!-- /.d-flex -->
  
                  <div >
                    <canvas id="use-chart" data-url="{% url 'use-chart' %}"></canvas>
                  </div>
  
                  <!--div class="d-flex flex-row justify-content-end">
                    <span class="mr-2">
                      <i class="fas fa-square text-primary"></i> This year
                    </span>
  
                    <span>
                      <i class="fas fa-square text-gray"></i> Last year
                    </span>
                  </div-->
                </div>
              </div>
              <!-- /.card -->
              </div>
            </div>
            <!-- /.col-md-6 -->
        </div>
              


</div>
</section>

<script>
    //Convert to array
    var country_list ="{{country_list|safe}}".replace(/[^a-zA-Z0-9,]+/g, "").split(",");
    var country_record_arr = "{{country_record|safe}}".replace(/[^a-zA-Z0-9,]+/g, "").split(",")
    
    var country_dict = {};
    
    for (let i = 0; i < country_list.length ; i++)
    {
      var tmp = country_list[i]
      country_dict[tmp] = {'plant':country_record_arr[i]};
    }

    new svgMap({
    targetElementID: 'svgMap',
    data: {
      data: {
        plant: {
          name: 'Plant Record(s)',
          format: '{0}'
        },
      },
      applyData: 'plant',
      values: country_dict
    }
  });

  </script>

<script>
    $(function () {
    var $useChart = $("#use-chart");
    $.ajax({
    url: $useChart.data("url"),
    success: function (data) {

        var ctx = $useChart[0].getContext("2d");

        var grd = ctx.createLinearGradient(0, 0, 700, 0);
        grd.addColorStop(0, "#1e403f"); //#3b7d39
        grd.addColorStop(1, "#fcb8b1");

        new Chart(ctx, {
        type: 'bar', 
        data: {
            labels: data.labels,
            datasets: [{
            label: 'Plant record',
            backgroundColor: grd,
            data: data.data
            }]          
        },
        options: {
            responsive: true,
            legend: {
            position: 'top',
            },
            title: {
            display: true,
            text: 'Bar Chart of Plants Based On Their Uses'
            }
        }
        });

    }
    });

    });

    </script>

<script>
    var seconds = 5; // seconds, edit here
    setInterval(refresh,seconds * 1000);


    function refresh() {
        console.log('get');
        $.ajax({
            url: "{% url 'user_home' %}",
            success: function(dat) {
                //$('#dashboard').html(data); // NOTE this
                $('#total_plant').replaceWith($('#total_plant',dat));
                $('#pub').replaceWith($('#pub',dat));
                $('#use').replaceWith($('#use',dat));
                $('#user_no').replaceWith($('#user_no',dat));
            }
        },
        {
            //chart-updates
            url: "{% url 'use-chart' %}",
            success: function(data) {
                $('#use-chart').html(data); // NOTE this
            }
        }
        );
    }
</script>


{% endblock content %}