{% extends "PlantWebApp/base-dashboard.html" %}

{% block content %}
<div class="col py-3">
<h1 align="center">Admin Dashboard</h1>
<h3 align="center">Admin Plant List</h3>
<br>
<div class="card">
    <h6 class="card-header">
        <div class="row align-items-start">
        <div class="col">
            Scientific Name
          </div>
          <div class="col-6">
              Common Name
          </div>
          <div class="col">
          </div>
        </div>
    </h6>
    <div class="card-body">
        {% for plant in plant_list%}
        <div class="row align-items-start">
            <div class="col">
                <p class="card-text">{{plant.plantScientificName}}</p>
            </div>
            <div class="col-6">
                <p class="card-text">{{plant.plantLocalName}}</p>
            </div>
            <div class="col">
                <a href="{% url 'display_plant' plant.id%}" class="btn btn-outline-success">Details</a>
                <a href="{% url 'update_form' plant.id%}" class="btn btn-outline-primary">Update</a>
                <a href="{% url 'delete_form' plant.id%}" class="btn btn-outline-danger">Delete</a>
            </div>
            <br><br><br>
        </div>
        {% endfor %}

    </div>
</div>

<br><br>
<h3 align="center">Plants by User Based On Their Uses</h3><br><br>
<div>
    <canvas id="use-chart" data-url="{% url 'use-chart' %}"></canvas>
</div>
<br><br><br>
</div>

<script>
        $(function () {

        var $useChart = $("#use-chart");
        $.ajax({
        url: $useChart.data("url"),
        success: function (data) {

            var ctx = $useChart[0].getContext("2d");

            new Chart(ctx, {
            type: 'bar', 
            data: {
                labels: data.labels,
                datasets: [{
                label: 'Plant record',
                backgroundColor: 'green',
                data: data.data
                }]          
            },
            options: {
                responsive: true,
                legend: {
                position: 'top',
                },
                title: {
                display: true,
                text: 'Bar Chart of Plants Based On Their Uses'
                }
            }
            });

        }
        });

        });

</script>

{% endblock content %}