{% extends "PlantWebApp/base-no-nav.html" %}

{% block content%}

<h3 align="center">Plant Search</h3>
<br>
<form method="GET" action="{%url 'display_SearchResults' %}">
    {% csrf_token %}
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search plant by keyword.. " name="searchquery">
        <button class="btn btn-outline-success" type="submit" id="button-addon2">Search</button>
    </div>
</form>
<br>

<!--form method="GET" action="{%url 'display_SearchResults' %}" id="SearchKeywordForm">
    {% csrf_token %}
    <div class="input-group">
        <input type="text" class="form-control" name="searchquery" placeholder="Search plant.." aria-label="Text input with segmented dropdown button">
        <button type="submit" class="btn btn-outline-secondary">Search</button>
    </form>
        <select type="button" id="choice" onchange="myFunction()" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <option selected="selected" value ="Keyword">By Keyword</option>
            <option value="Use">By Usage</option>
        </select>
    </div>


<form method="GET" action="{%url 'display_SearchResults' %}" id="SearchUseForm">
    {% csrf_token %}
    <div class="input-group">
              
        <select class="form-select" id="use-search" name="state">
            <option value="AL">Alabama</option>
              ...
            <option value="WY">Wyoming</option>
        </select>
        <button type="submit" class="btn btn-outline-secondary">Search</button>
</form>

        <select type="button" id="choice" onchange="myFunction()" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <option selected="selected" value ="Use">By Usage</option>
            <option value="Keyword">By Keyword</option>
        </select>

    </div-->

<br><br><br>

<h3 align="center">List of Plants</h3>
<div class="card">
    <h6 class="card-header">
        <div class="row align-items-start">
        <div class="col">
            Scientific Name
          </div>
          <div class="col-8">
              Common Name
          </div>
          <div class="col">
          </div>
        </div>
    </h6>
    <div class="card-body">
        {% for plant in plant_list%}
        <div class="row align-items-start">
            <div class="col">
                <p class="card-text">{{plant.plantScientificName}}</p>
            </div>
            <div class="col-8">
                <p class="card-text">{{plant.plantLocalName}}</p>
            </div>
            <div class="col">
                <a href="{% url 'display_plant' plant.id%}" class="btn btn-outline-success">Details</a>
            </div>
            <br><br><br>
        </div>
        {% endfor %}

    </div>
</div>
<br><br><br>

<!--script>
    
    /*If choice == Use - display select2js choices*/
    function myFunction() {
        var x = document.getElementById("choice").value;
        alert(x);

        if (x == "Use")
        {
            $('#SearchKeywordForm').hide();
            $('#SearchUseForm').show();
        }
        else {
            $('#SearchUseForm').hide();
            $('#SearchKeywordForm').show();
        }
    }


    $(document).ready(function() {
        $('#use-search').select2({
            'placeholder':'Select a plant etnobotanical use..',
        });
    });

</script-->

{% endblock content %}