{% extends "PlantWebApp/base-no-nav.html" %}
{% load static %}

{% block content%}
<link rel="stylesheet" href="{% static '/css/searchStyle.css' %}">

<div class="content-header" style="padding-left:25px ;">
    <div class="row">
      <div class="col-sm-8">
        <h3 class="m-0"></h3>
      </div><!-- /.col -->
      <div class="col" style="padding-right: 40px;">            
          <form name="searchForm" method="GET" action="{%url 'display_SearchResults' %}" onsubmit="return validateForm()">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Search plant by keyword.. " name="searchquery">
                    <button class="btn btn-outline-success" type="submit" id="button-addon2">Search</button>
                </div>
                <div class="invalid-query"></div>
            </form>

      </div><!-- /.col -->
    </div><!-- /.row -->
</div><br>

<section class="search-section">
    <img id="header" class="parallax" src="{% static '/images/BrowseHeader1.jpg' %}" alt="">
    <!--img id="header" class="parallax" src="http://s3.amazonaws.com/django-herbarium-files/images/BrowseHeader1.jpg" alt=""-->

    <!--http://s3.amazonaws.com/django-herbarium-files/images/BrowseHeader1.jpg-->
    <div class="container">
        <h3 align="center">Explore</h3>
        <br><br>

        <div class="scroll-icon">
            <p align="center"><a class="scrollTo" data-scrollTo="#plantList" href="#plantList"><img src="{% static '/images/scroll-icon.png' %}" alt=""></a></p>
        </div> 
    </div> 
</section>
<!--p style="background-color: #3c4250;">--</p-->

<div id="plantList">
<h3 style="visibility:hidden;">--</h3><h3 style="visibility:hidden;">--</h3>
<div class="container">
<h3 align="center">List of Plants</h3><br>
<div class="card">
    <h6 class="card-header">
        <div class="row align-items-start">
        <div class="col">
            Scientific Name
          </div>
          <div class="col-8">
              Common Name
          </div>
          <div class="col">
          </div>
        </div>
    </h6>
    <div class="card-body">
        {% for plant in plants%}
        <div class="row align-items-start">
            <div class="col">
                <p class="card-text">{{plant.plantScientificName}}</p>
            </div>
            <div class="col-8">
                <p class="card-text">{{plant.plantLocalName}}</p>
            </div>
            <div class="col">
                <a href="{% url 'display_plant' plant.id%}" class="btn btn-outline-success">Details</a>
            </div>
            <br><br><br>
        </div>
        {% endfor %}

    </div>
</div><!--card-->
</div><!--container-->
</div>
<!--
{{plants}} <br>
Has Previous: {{ plants.has_previous }} <br>
Has Next: {{ plants.has_next }} <br>
Current Page: {{ plants.number }} <br>
Number of Pages: {{ plants.paginator.num_pagesplants.paginator.num_pages }}
-->

<hr>
<!--Pagination-->
<section class = "pagination">
    <div class="container">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if plants.has_previous %}
                    <!--li class="page-item"><a class="page-link" href="?page=1">&laquo First</a></li-->
                    <li class="page-item"><a class="page-link" href="?page={{ plants.previous_page_number }}">Previous</a></li>
                {% endif %}

                <!--li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                        Page {{plants.number}} of {{plants.paginator.num_pages}}
                    </a>
                </li--> <!--Page 1 of 3-->

                <!--Page Number Boxes-->
                {% for pg in page_num %}
                    {% if plants.number == forloop.counter %}
                        <li class="page-item active" aria-current="page">
                            <span class="page-link">{{ forloop.counter }}</span>
                        </li>
                    {% else %}
                        <!--** LImit page-->
                        <li class="page-item"><a class="page-link" href="?page={{ forloop.counter }}">{{forloop.counter}}</a></li>
                    {% endif %}
                {% endfor %}    

                {% if plants.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ plants.next_page_number }}">Next</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</section>

<br><br><br>

<!--Font Awesome-->
<script src="https://kit.fontawesome.com/90884d5937.js" crossorigin="anonymous"></script>

<script>
    // Add Parallax effect to Image 
    window.addEventListener('scroll',function(){
        const parallax = document.querySelector('.parallax');
        let scrollPosition = window.pageYOffset;
        parallax.style.transform = 'translateY(' + scrollPosition * .5 + 'px)';

    })
    
    // Search Form Validation
    function validateForm() {
        var userQuery = document.forms["searchForm"]["searchquery"].value.trim(); //trim - to remove trailing whitespaces
        if (userQuery == "") {
          document.querySelector(".invalid-query").innerHTML = "<p><span style='background-color:#ffcccb;'><i class='fas fa-exclamation-circle'></i> Please enter a valid search query</span></p>"
          return false;
        }
      }    
    
</script>

{% endblock content %}