{% extends "PlantWebApp/base-no-nav.html" %}
{% load static %}

{% block content%}
<style>

body{
    background-color: #FDF8F4;
}

.search-section{
    height:75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

img {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}  

#text-wrapper{
    text-align: center;
    width: 60%;
    padding: 0%;
    margin: 0%;
}




</style>
<section class="search-section">
    <img src="{% static '/images/BrowseHeader1.jpg' %}" alt="">

    <div class="container">
        <h3 align="center">Plant Search</h3>
        <br>
        <form method="GET" action="{%url 'display_SearchResults' %}">
            {% csrf_token %}
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search plant by keyword.. " name="searchquery">
                <button class="btn btn-success" type="submit" id="button-addon2">Search</button>
            </div>
        </form>
        <br>
    </div>

    
</section>

<br><br>
<div class="container">
<h3 align="center">List of Plants</h3>
<div class="card">
    <h6 class="card-header">
        <div class="row align-items-start">
        <div class="col">
            Scientific Name
          </div>
          <div class="col-8">
              Common Name
          </div>
          <div class="col">
          </div>
        </div>
    </h6>
    <div class="card-body">
        {% for plant in plant_list%}
        <div class="row align-items-start">
            <div class="col">
                <p class="card-text">{{plant.plantScientificName}}</p>
            </div>
            <div class="col-8">
                <p class="card-text">{{plant.plantLocalName}}</p>
            </div>
            <div class="col">
                <a href="{% url 'display_plant' plant.id%}" class="btn btn-outline-success">Details</a>
            </div>
            <br><br><br>
        </div>
        {% endfor %}

    </div>
</div>
</div>
<br><br><br>

<!--script>
    
    /*If choice == Use - display select2js choices*/
    function myFunction() {
        var x = document.getElementById("choice").value;
        alert(x);

        if (x == "Use")
        {
            $('#SearchKeywordForm').hide();
            $('#SearchUseForm').show();
        }
        else {
            $('#SearchUseForm').hide();
            $('#SearchKeywordForm').show();
        }
    }


    $(document).ready(function() {
        $('#use-search').select2({
            'placeholder':'Select a plant etnobotanical use..',
        });
    });

</script-->

{% endblock content %}