{% extends "PlantWebApp/base-dashboard.html" %}

{% block content %}

<!--Data Tables-->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">  
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>


<!--Site Admin Content header-->
<div class="content-header" style="padding-left:25px ;">
    <div class="row">
      <div class="col-sm-9"></div><!-- /.col -->
      <div class="col">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="{% url 'user_home' %}">Dashboard</a></li>
          <li class="breadcrumb-item active">To Be Verified</a></li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
</div>

<div class="container">
    <h2 align="center">Plant Records</h2>
    <p align="center" style="color: white;"><span style="background-color:rgb(42, 119, 106);">| To Be Verified |</span></p>
    <br>

    <div class="container">
    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Scientific Name</th>
                <th>Researcher</th>
                <th>Created At</th>
                <th>Details</th>
                <th>Verify</th>
                <th>Reject</th>
            </tr>
        </thead>
        <tbody>
            {% for plant in plants%}
                <tr>
                    
                    <td>{{plant.plantScientificName}}</td>
                    <td>{{plant.user.first_name}} {{plant.user.last_name}}</td>
                    <td>{{plant.created_at}}</td>
                    <td> <a href="{% url 'display_plant' plant.id%}" class="btn btn-outline-primary">Details</a></td>
                    <td><a href="{% url 'com_verifying' plant.id%}" class="btn btn-outline-success">Verify</a></td>
                    <td><a href="{% url 'reject_form' plant.id%}" class="btn btn-outline-danger">Reject</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    

    </div>
    <!--Search Bar>
    <div class="row">
        <div class="col-sm-8"></div><!-- /.col >
        <div class="col">
            <form name="searchForm" method="GET" action="{%url 'display_UnpublishedResults' %}" onsubmit="return validateForm()">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Search Scientific Name" name="searchquery">
                    <button class="btn btn-outline-success" type="submit" id="button-addon2">Search</button>
                </div>
                <div class="invalid-query"></div>
            </form>
        </div><!-- /.col >
      </div><!-- /.row -->

    <!--***Original***>
    <div class="card">
        <h6 class="card-header">
            <div class="row align-items-start">
            <div class="col-3">
                Scientific Name
            </div>
            <div class="col-3">
                Researcher
            </div>
            <div class="col-3">
                Created At
            </div>
            <div class="col-3">
            </div>
            </div>
        </h6>
        <div class="card-body">
            {% for plant in plants%}
            <div class="row align-items-start">
                <div class="col-3">
                    <p class="card-text">{{plant.plantScientificName}}</p>
                </div>
                <div class="col-3">
                    <p class="card-text">{{plant.user.first_name}} {{plant.user.last_name}}</p>
                </div>
                <div class="col-3">
                    <p class="card-text">{{plant.created_at}}</p>
                </div>
                <div class="col-3">
                    <a href="{% url 'display_plant' plant.id%}" class="btn btn-outline-primary">Details</a>
                    <a href="{% url 'com_verifying' plant.id%}" class="btn btn-outline-success">Verify</a>
 
                    <a href="{% url 'reject_form' plant.id%}" class="btn btn-outline-danger">Reject</a>

                </div>
                <br><br><br>
            </div>
            {% endfor %}

        </div>
    </div--><br>

<!--Pagination>
<section class = "pagination">
    <div class="container">
        <nav aria-label="Page navigation example">
            <ul class="pagination pagination-sm justify-content-center ">
                {% if plants.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ plants.previous_page_number }}">&laquo;</a></li>
                {% endif %}

                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                        Page {{plants.number}} of {{plants.paginator.num_pages}}
                    </a>
                </li> <!--Page 1 of 3>   

                {% if plants.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ plants.next_page_number }}">&raquo;</a></li>
                    <!--li class="page-item"><a class="page-link" href="?page={{plants.paginator.num_pages}}">Last &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</section-->    <br><br> <br>   <br><br> <br> <br> <br> 


</div>

<script>
    $(document).ready(function() {
        $('#example').DataTable();
    } );
</script>

{% endblock content %}