{% extends "PlantWebApp/base.html" %}

{% block content%}

<h3 align="center">Plant Search</h3>
<br>
<form method="GET" action="{%url 'display_SearchResults' %}">
    {% csrf_token %}
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search plant by keyword.. " name="searchquery">
        <button class="btn btn-outline-success" type="submit" id="button-addon2">Search</button>
    </div>
</form>

<!--
<h3>Advanced search</h3> - boolean operators

<h3>Search plant by usage tags</h3>
<form method="GET" action="">
    {% csrf_token %}
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search usage tag " name="searchquery">
        <button class="btn btn-outline-success" type="submit" id="button-addon2">Search</button>
    </div>
</form>
-->

{% endblock content %}