{% extends "PlantWebApp/base-no-nav.html" %}

{% block content%}
<link href="https://cdn.jsdelivr.net/gh/StephanWagner/svgMap@v2.1.1/dist/svgMap.min.css" rel="stylesheet">

<br>
    <div class="container">
      <div class="wrapper-title"></div><br><br>
      <div class="row">
        <div class="col">
          <a id="plantImg" href="{% url 'display_plantImg' id%}" target="_blank"></a>
          </div>
          <div class="col-8">
              <div class="wrapper-content"></div>
              <h4>Ethnobotanical Uses</h4>
                <ul><div class="wrapper-usage"></div></ul>
              <br>
              <h4>Plant Distribution</h4>
                <p><div class="wrapper-dist"></div></p>
                <div id="svgMap"></div>
              <br>
              <h4>Reference</h4>
                <div class="wrapper-end"></div>
        </div>
    </div>
  </div><!--container-->
    <br><br><br>

  
  
      <script>
        // Render data from API
      function buildList(){
          var wrapperTitle = document.querySelector(".wrapper-title")
          
          var url = "http://127.0.0.1:8000/api/plant-detail-api/{{id}}"
  
          fetch(url)
          .then((resp) => resp.json())
          .then(function(data){
              console.log(data)
              
              var item = `<h1 align="center">${data.plantScientificName}</h1>`
              wrapperTitle.innerHTML += item

              wrapperTitle = document.querySelector("#plantImg")
              var item = `<img src="${data.plantImg}" alt="" class="img-thumbnail" style="width:250px;height: 350px;">`
              wrapperTitle.innerHTML += item

              wrapperTitle = document.querySelector(".wrapper-content")
              var item = `
              <p align="right"><small>Voucher No: ${data.voucher_no}</small></p>
              <br>
              <h4>Plant Local Name</h4>
              <p>${data.plantLocalName}</p><br>
              <h4>Plant Morphology</h4><br>
              <table class="table table-striped">
                  <tbody>
                    <tr>
                      <th scope="row">Stem</th>
                      <td>${data.pmStem}</td>
                    </tr>
                    <tr>
                      <th scope="row">Leaf</th>
                      <td>${data.pmLeaf}</td>
                    </tr>
                    <tr>
                      <th scope="row">Flower</th>
                      <td>${data.pmFlower}</td>
                    </tr>
                    <tr>
                      <th scope="row">Fruit</th>
                      <td>${data.pmFruit}</td>
                    </tr>
                  </tbody>
              </table><br> 
              `
              wrapperTitle.innerHTML += item

              wrapperTitle = document.querySelector(".wrapper-usage")
              for (var i in data.usage)
              {
                var item = `<li>${data.usage[i].usage_tag}</li>`

                wrapperTitle.innerHTML += item
              }

              wrapperTitle = document.querySelector(".wrapper-dist")
              for (var i in data.distribution)
              {
                var item = `${data.distribution[i].countryName}, `

                wrapperTitle.innerHTML += item
              }

              //SVG Map
              var country_dict = {}
              for (var i in data.distribution)
              {
                country_dict[data.distribution[i].country_alpha2] = {'plant':''};
              }

              new svgMap({
                targetElementID: 'svgMap',
                data: {
                  data: {
                    plant: {
                      name: '',
                    },
                  },
                  applyData: 'plant',
                  values: country_dict
                }
              });
            
              wrapperTitle = document.querySelector(".wrapper-end")
              var item = `
                <p>${data.plantref}</p><br><br>
                <p class="h6">Created by <a href="http://127.0.0.1:8000/user-page/${data.user.id}">${data.user.first_name} ${data.user.last_name}</a></p>
              `
              wrapperTitle.innerHTML += item
 
                

          })
      }  
      buildList()
      </script>

<script src="https://cdn.jsdelivr.net/npm/svg-pan-zoom@3.6.1/dist/svg-pan-zoom.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/StephanWagner/svgMap@v2.1.1/dist/svgMap.min.js"></script>


{% endblock content %}