{% extends "PlantWebApp/base-no-nav.html" %}

{% block content%}

<!--https://github.com/StephanWagner/svgMap-->
<script src="https://cdn.jsdelivr.net/npm/svg-pan-zoom@3.6.1/dist/svg-pan-zoom.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/StephanWagner/svgMap@v2.1.1/dist/svgMap.min.js"></script>
<link href="https://cdn.jsdelivr.net/gh/StephanWagner/svgMap@v2.1.1/dist/svgMap.min.css" rel="stylesheet">

<br>
    <div class="container">
        <h1 align="center">{{plant_info.plantScientificName}}</h1>
        {% if user.is_authenticated %}
          <!--Rejected Records-->
          {% if plant_info.rejected %}
            <div class="container-fluid" >
              <div class="d-flex flex-column align-items-center min-vh-50">
                <h5 style="color: brown;">Rejected</h5>
                <br>

                <div class="d-flex flex-column align-items-center" style="padding:10px; radius:5px; background-color: antiquewhite;">
                  <p>Reason of rejection: {{ reject_info.reason }}</p>
                </div>

                <br>
                {% if user.is_staff  %}
                  <p align="center">
                    <a href="{% url 'reject_form' plant_info.id%}" class="btn btn-warning">Modify</a>
                    <a href="{% url 'delete_form' plant_info.id%}" class="btn btn-danger">Delete</a>
                  </p>
                {% elif user.id == plant_info.user.id  %}
                  <a href="{% url 'delete_form' plant_info.id%}" class="btn btn-danger">Delete</a>
                {% endif %}
              </div>
            </div>
          <!--Published Records-->
        {% elif plant_info.publish %}
            <p align="center">
              <a href="{% url 'update_form' plant_info.id%}" class="btn btn-dark">Update</a>
              <a href="{% url 'delete_form' plant_info.id%}" class="btn btn-light">Delete</a>
            </p>
          <!--To Be Verified Records-->
        {% else %}
            {% if user.is_staff %} 
                <p align="center">
                    <a href="{% url 'publish' plant_info.id%}" class="btn btn-success">Publish</a>
                    <a href="{% url 'update_form' plant_info.id%}" class="btn btn-primary">Update</a>
                    <a href="{% url 'reject_form' plant_info.id%}" class="btn btn-warning">Reject</a>
                    <!--a href="{% url 'delete_form' plant_info.id%}" class="btn btn-danger">Delete</a-->
                </p> 
            {% elif user.id == plant_info.user.id %}
              <p align="center">
                <a href="{% url 'update_form' plant_info.id%}" class="btn btn-dark">Update</a>
                <a href="{% url 'delete_form' plant_info.id%}" class="btn btn-light">Delete</a>
              </p>
            {% endif %}
        {% endif %}
      {% endif %}
        <br><br>
        <div class="row">
            <div class="col">
              <a href="{% url 'display_plantImg' plant_info.id%}" target="_blank"> 
                <img src="{{plant_info.plantImg.url}}" alt="" class="img-thumbnail" style="width:250px;height: 350px;">
              </a>
        </div>
        <div class="col-8">
            <p align="right"><small>Voucher No: {{plant_info.voucher_no}}</small></p>
            <br>
            <h4>Plant Local Name</h4>
            <p>{{plant_info.plantLocalName}}</p><br>
            <h4>Plant Morphology</h4><br>
            <table class="table table-striped">
                <tbody>
                  <tr>
                    <th scope="row">Stem</th>
                    <td>{{plant_info.pmStem}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Leaf</th>
                    <td>{{plant_info.pmLeaf}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Flower</th>
                    <td>{{plant_info.pmFlower}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Fruit</th>
                    <td>{{plant_info.pmFruit}}</td>
                  </tr>
                </tbody>
            </table><br>    
            <h4>Ethnobotanical Uses</h4>
            <ul>
            {% for i in use_list%}
                <li>{{i}}</li>
            {% endfor %}
            </ul>
            <br>
            <h4>Plant Distribution</h4>
            <p>
            {% for j in country_name %}
               {{j}}, 
            {% endfor %}
            </p>
            <div id="svgMap"></div><br><br>
            
            <h4>Reference</h4>
            <p>{{plant_info.plantref|linebreaks}}</p><br><br>

            <!--if user/site admin/view-->
            <hr>
            <h4>Current Research</h4>
            {{plant_info.research_data|safe}}
            <br><br>

            <!--p class="h6">Created on: {{plant_info.created_at.date}} by <a href="{% url 'user_page' plant_info.user.id%}">{{plant_info.user.first_name}} {{plant_info.user.last_name}}</a></p-->
            <p>Studied by: <a href="{% url 'user_page' plant_info.user.id%}">{{plant_info.user.first_name}} {{plant_info.user.last_name}}</a></p>

        </div>
    </div>
    <br><br><br>

    <script>
      //Convert to array
      var country_list ="{{country_list|safe}}".replace(/[^a-zA-Z0-9,]+/g, "").split(",");
      var country_dict = {};
      
      for (let i = 0; i < country_list.length ; i++)
      {
        var tmp = country_list[i]
        country_dict[tmp] = {'plant':''};
      }

      new svgMap({
      targetElementID: 'svgMap',
      data: {
        data: {
          plant: {
            name: '',
          },
        },
        applyData: 'plant',
        values: country_dict
      }
    });

    </script>


{% endblock content %}