{% extends "PlantWebApp/base-dashboard.html" %}
{% load static %}


{% block content%}

<style>
    body{
        background-color: rgba(255, 255, 255, 0.966);
    }
</style>

<div class="container">
<h1 style="padding-left: 25px;">Add Plant Record</h1><br>

    <form method="POST" enctype="multipart/form-data" action="{%url 'display_form' %}" id='p-form'>  <!--url name-->
    <!--Can validate form using Bootstrap-->
        {% csrf_token %}  <!--Token to prevent hackers from hijacking-->
        <div class="container">
            <div class="mb-3">
                <label class="form-label" >Voucher / Specimen Number (if any)</label>
                <input type="text" id="voucher_no" class="form-control" name="voucher_no" value="{{voucher_no}}">
            </div>
            <label class="form-label">Plant Taxonomy</label>
            <div class="input-group mb-3">
               <input required type="text" class="form-control" placeholder="Kingdom" name="taxoKingdom" value="{{taxoKingdom}}">
            </div>
            <div class="input-group mb-3">
                <input required type="text" class="form-control" placeholder="Division" name="taxoDivision" value="{{taxoDivision}}">
            </div>
            <div class="input-group mb-3">
                <input required type="text" class="form-control" placeholder="Class" name="taxoClass" value="{{taxoClass}}">
            </div>
            <div class="input-group mb-3">
                <input required type="text" class="form-control" placeholder="Order" name="taxoOrder" value="{{taxoOrder}}">
            </div>
            <div class="input-group mb-3">
                <input required type="text" class="form-control" placeholder="Family" name="taxoFamily" value="{{taxoFamily}}">
            </div>
            <div class="input-group mb-3">
                <input required type="text" class="form-control" placeholder="Genus" name="taxoGenus" value="{{taxoGenus}}">
            </div>
            <div class="input-group mb-3">
                <input required type="text" class="form-control" placeholder="Species" name="plantScientificName" value="{{plantScientificName}}">
            </div>
            <div class="mb-3">
                <label class="form-label">Plant Local Name</label>
                <input type="text" class="form-control" name="plantLocalName" value="{{plantLocalName}}">
            </div>

            <label class="form-label">Plant Morphology</label>
            
            <div class="form-floating">
                <textarea class="form-control" placeholder="Add Stem Morphology" id="floatingTextarea" name="pmStem" >{{pmStem}}</textarea>
                <label for="floatingTextarea">Stem</label>
            </div><br>
            <div class="form-floating">
                <textarea class="form-control" placeholder="Add Leaf Morphology" id="floatingTextarea" name="pmLeaf" >{{pmLeaf}}</textarea>
                <label for="floatingTextarea">Leaf</label>
            </div><br>
            <div class="form-floating">
                <textarea class="form-control" placeholder="Add Fruit Morphology" id="floatingTextarea" name="pmFruit" >{{pmFruit}}</textarea>
                <label for="floatingTextarea">Fruit</label>
            </div><br>
            <div class="form-floating">
                <textarea class="form-control" placeholder="Add Flower Morphology" id="floatingTextarea" name="pmFlower" >{{pmFlower}}</textarea>
                <label for="floatingTextarea">Flower</label>
            </div><br>

            <div class="mb-3">
                <label for="inputState" class="form-label">Ethnobotanical Uses</label>
                    <select id="mySelect2" class="form-select" name="usage" multiple="multiple">
                        {% for uses in use %}
                            <option value="{{ uses.id }}">{{ uses.usage_tag }}</option>
                        {% endfor %}
                    </select>
            </div>

        <!--Javascript Add eventlistener , confirm , POST form, django can add multiple entries?-->
        <div class="mb-3">
            <p align="center">Cannot find uses?
            <a class="btn btn-outline-dark" align-items="center" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" >
            Add uses
            </a></p>
            
            <div class="collapse" id="collapseExample">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Add usage tags.." aria-label="Recipient's username" aria-describedby="button-addon2" name="usage_tag">
                        <button class="btn btn-secondary" type="submit" id="button-addon2">Add</button>
                    </div>
            </div>
        </div>

        <div class="mb-3">
            <label for="inputState" class="form-label">Plant Distribution</label>
                <select id="selectDist" class="form-control" name="distribution" multiple="multiple">
                    <option></option>
                    {% for dat in dist %}
                        <option value="{{ dat.id }}">{{ dat.countryName }}</option>
                    {% endfor %}
                </select>
        </div>

        <div class="mb-3">
            <label for="inputState" class="form-label">Plant Local Distribution</label>
                <select id="selectLocal" class="form-control" name="localDistribution" multiple="multiple">
                    <option></option>
                    {% for dat in state %}
                        <option value="{{ dat.id }}">{{ dat.stateName }}</option>
                    {% endfor %}
                </select>
        </div>


            <div class="mb-3">
                <label for="inputState" class="form-label">References <!--small>(in APA format)</small--></label>
                <textarea class="form-control" placeholder="Add references" id="floatingTextarea" name="plantref" >{{plantref}}</textarea>
            </div>

            <div class="mb-3">
                <label for="formFile" class="form-label">Plant Image Upload (1 file)</label>
                <input class="form-control" type="file" id="formFile" name="plantImg">
            </div>

            <div id="img-box"></div>

            <div class="mb-3">
                <label for="formFile" class="form-label">Plant Parts Image Upload (Multiple files) </label>
                <input class="form-control" type="file" name="images_list" multiple>
            </div>

            

            <div class="mb-3">
                {{research_form.media}}
                {{research_form.as_p}}
            </div>

            <br>
            <div class="d-grid gap-2">
            <button type="submit" class="btn btn-success">Submit</button>
            </div>
            <br>
        </div>

        
    </form>

</div>

<script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';</script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>

<script src="{% static '/js/plantform.js' %}"></script>

<script type="text/javascript">    
        //ajax 
        const imgBox = document.querySelector('#img-box');
        //const form = document.getElementById('p-form')
        const img = document.getElementById('formFile')
        const csrf = document.getElementsByName('csrfmiddlewaretoken');
        console.log(csrf)
        
        img.addEventListener('change',()=>{
            const img_data = img.files[0]
            const url = URL.createObjectURL(img_data)
            console.log(url)
            imgBox.innerHTML = '<img src="'+url+'" style="width:250px;height: 350px;">'
        })

        //Select2js - ethnobotanical usage tags
        $(document).ready(function() {
            $('#mySelect2').select2({
                    'placeholder':'Select Uses...',
                    //tags: true,
            });

            $('#selectDist').select2({
                    'placeholder':'Select Distribution...',
                    //tags: true,
            });

            $('#selectLocal').select2({
                    'placeholder':'Select Local Distribution...',
                    //tags: true,
            });
        });
        //$("#mySelect2").val(Array.from("{{usearr|safe}}"));
        var tempstr = "{{usearr|safe}}".replace(/[^0-9,]/g, '').split(",");
        $("#mySelect2").val(tempstr);
        
</script>

<!--Javascript: Pop-up form-->
<script type="text/javascript">
    $(function () { 
      /*function popupform(){*/
      $(".create-tag").each(function () {
          $(this).modalForm({formURL: $(this).data("form-url")});
      });
    })
</script>

{% endblock content %}