{% extends "PlantWebApp/base-no-nav.html" %}
{% load static %}

{% block content%}

<!--https://github.com/StephanWagner/svgMap-->
<script src="https://cdn.jsdelivr.net/npm/svg-pan-zoom@3.6.1/dist/svg-pan-zoom.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/StephanWagner/svgMap@v2.1.1/dist/svgMap.min.js"></script>
<link href="https://cdn.jsdelivr.net/gh/StephanWagner/svgMap@v2.1.1/dist/svgMap.min.css" rel="stylesheet">

<!--Chart Scroll-->
<link rel="stylesheet" href="{% static '/css/adminHomeStyle.css' %}">

<style>
tr:hover {background-color: rgba(211, 223, 212, 0.733);}
.list-group-item:hover {background-color: rgba(211, 223, 212, 0.733);}
</style>

<br>
    <div class="container">
        <h1 align="center"><i>{{plant_info.plantScientificName}}</i></h1>
        {% if user.is_authenticated %}
          <!--Rejected Records-->
          {% if plant_info.rejected %}
            <div class="container-fluid" >
              <div class="d-flex flex-column align-items-center min-vh-50">
                <h5 style="color: brown;">Rejected</h5>
                <br>

                <div class="d-flex flex-column align-items-center" style="padding:10px; radius:5px; background-color: antiquewhite;">
                  <p>Reason of rejection: {{ reject_info.reason }}</p>
                </div>

                <br>
                {% if user.id == plant_info.user.id  %}
                  <p align="center">
                    <a href="{% url 'update_form' plant_info.id%}" class="btn btn-dark">Update</a>
                    <a href="{% url 'delete_form' plant_info.id%}" class="btn btn-light">Delete</a>
                  </p>
                {% elif user.is_staff  %}
                  <p align="center">
                    <!--a href="{% url 'reject_form' plant_info.id%}" class="btn btn-warning">Modify</a-->
                    <a href="{% url 'delete_form' plant_info.id%}" class="btn btn-danger">Delete</a>
                  </p>
                {% endif %}
              </div>
            </div>
          <!--Published Records-->
        {% elif plant_info.admin_publish %}
            {% if user.id == plant_info.user.id or user.is_staff%}
            <p align="center">
              <a href="{% url 'update_form' plant_info.id%}" class="btn btn-dark">Update</a>
              <a href="{% url 'delete_form' plant_info.id%}" class="btn btn-light">Delete</a>
            </p>
            {% endif %}
          <!--To Be Verified Records-->
        {% elif plant_info.committee_approved is False %}
        
            {% if user.profile.role is 1 %} <!--Committee role-->
            <p align="center">
              <a href="{% url 'com_verifying' plant_info.id%}" class="btn btn-outline-success">Verify</a>
              <a href="{% url 'reject_form' plant_info.id%}" class="btn btn-outline-danger">Reject</a>
            </p>
            {% elif user.id == plant_info.user.id %}
            <p align="center">
              <a href="{% url 'update_form' plant_info.id%}" class="btn btn-dark">Update</a>
              <a href="{% url 'delete_form' plant_info.id%}" class="btn btn-light">Delete</a>
            </p>
            {% else %}
            {% endif %}
        {% else %}
            {% if user.is_staff %} 
                <p align="center">
                    <a href="{% url 'publish' plant_info.id%}" class="btn btn-success">Publish</a>
                    <a href="{% url 'update_form' plant_info.id%}" class="btn btn-primary">Update</a>
                    <a href="{% url 'reject_form' plant_info.id%}" class="btn btn-warning">Reject</a>
                    <!--a href="{% url 'delete_form' plant_info.id%}" class="btn btn-danger">Delete</a-->
                </p> 
            {% elif user.id == plant_info.user.id %}
              <p align="center">
                <a href="{% url 'update_form' plant_info.id%}" class="btn btn-dark">Update</a>
                <a href="{% url 'delete_form' plant_info.id%}" class="btn btn-light">Delete</a>
              </p>
            {% endif %}
        {% endif %}
      {% endif %}
        <br><br>

        <div class="row">
          <!--Image Carousel-->
            <div class="col-3">
              <!--a href="{% url 'display_plantImg' plant_info.id%}" target="_blank"--> 
                <a href="{{plant_info.plantImg.url}}" target="_blank"> 
                <img src="{{plant_info.plantImg.url}}" alt="" class="img-thumbnail" style="width:250px;height: 350px;">
              </a>
              <div class="row">
                {% for img in plantimages %}
                <div class="col-md-4 p-3">
                  <a href="{{img.image.url}}" target="_blank">
                    <img src="{{img.image.url}}" class="img-fluid" alt="" style="height: 100px; object-fit: contain;">
                  </a>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col"></div>
        <div class="col-8">
            <p align="right"><small>Voucher No: {{plant_info.voucher_no}}</small></p>

            <h4>Plant Taxonomy</h4>

            <!--table class="table table-striped table-hover">
              <thead>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td colspan="2">Larry the Bird</td>
                  <td>@twitter</td>
                </tr>
              </tbody>
            </table-->

            <ul class="list-group list-group-flush">
              <li class="list-group-item  list-group-item-success">Kingdom &ensp;{{plant_info.taxoKingdom}}</li>
              <li class="list-group-item">Phylum &emsp;&nbsp;{{plant_info.taxoDivision}}</li>
              <li class="list-group-item  list-group-item-success">Class &emsp;&emsp;&nbsp;{{plant_info.taxoClass}}</li>
              <li class="list-group-item">Order &emsp;&ensp;&nbsp;{{plant_info.taxoOrder}}</li>
              <li class="list-group-item  list-group-item-success">Family &emsp;&ensp;{{plant_info.taxoFamily}}</li>
              <li class="list-group-item">Genus &emsp;&ensp;{{plant_info.taxoGenus}}</li>
              <li class="list-group-item  list-group-item-success">Species &emsp;<i>{{plant_info.plantScientificName}}</i></li>
            </ul>
            
            <br>
            <h4>Plant Local Name</h4>
            <p>{{plant_info.plantLocalName}}</p><br>
            <h4>Plant Morphology</h4><br>
            <table class="table table-striped">
                <tbody>
                  <tr>
                    <th scope="row">Stem</th>
                    <td>{{plant_info.pmStem}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Leaf</th>
                    <td>{{plant_info.pmLeaf}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Flower</th>
                    <td>{{plant_info.pmFlower}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Fruit</th>
                    <td>{{plant_info.pmFruit}}</td>
                  </tr>
                </tbody>
            </table><br>    
            <h4>Ethnobotanical Uses</h4>
            <ul>
            {% for i in use_list%}
                <li>{{i}}</li>
            {% endfor %}
            </ul>
            <br>
            <h4>Plant Distribution</h4>
            <p>
            {% for j in country_name %}
               {{j}}, 
            {% endfor %}
            </p>
            <div id="svgMap"></div><br><br>

            <h4>Plant Local Distribution</h4>
            <p>
            {% for j in states %}
               {{j}}, 
            {% endfor %}
            </p><br>
            
            <h4>Reference</h4>
            <div class="ref-scroll" style="background-color: rgba(239, 252, 237, 0.26); ">
              <p>{{plant_info.plantref|linebreaks}}</p>
            </div><br><br>

            <!--if user/site admin/committee to view-->
            {% if plant_info.user.id == user.id or user.profile.role is 0 or user.profile.role is 1 %}
              
              <h4>Current Research</h4>
              <hr>
              {{plant_info.research_data|safe}}
              <br><br>
            {% endif %}

            {% if permissions %}
              <!--Viewers with permissions-->
              {% for viewers in permissions %}
                {% if viewers.allowed_user_id == user.id %}
                  
                  <h4>Current Research</h4>
                  <hr>
                  {{plant_info.research_data|safe}}
                  <br><br>
                {% endif %}
              {% endfor %}
            {% endif %}


            <!--p class="h6">Created on: {{plant_info.created_at.date}} by <a href="{% url 'user_page' plant_info.user.id%}">{{plant_info.user.first_name}} {{plant_info.user.last_name}}</a></p-->
            <p>Studied by: <a href="{% url 'user_page' plant_info.user.id%}">{{plant_info.user.first_name}} {{plant_info.user.last_name}}</a></p>

        </div>
    </div>
    <br><br><br>

    <script>
      //Convert to array
      var country_list ="{{country_list|safe}}".replace(/[^a-zA-Z0-9,]+/g, "").split(",");
      var country_dict = {};
      
      for (let i = 0; i < country_list.length ; i++)
      {
        var tmp = country_list[i]
        country_dict[tmp] = {'plant':''};
      }

      new svgMap({
      targetElementID: 'svgMap',
      data: {
        data: {
          plant: {
            name: '',
          },
        },
        applyData: 'plant',
        values: country_dict
      }
    });

    </script>


{% endblock content %}