{% extends "PlantWebApp/base-dashboard.html" %}

{% block content%}
<!--Site Admin Content header-->
<div class="content-header" style="padding-left:25px ;">
    <div class="row">
      <div class="col-sm-9">
      </div><!-- /.col -->
      <div class="col">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="{% url 'user_home' %}">Dashboard</a></li>
          <li class="breadcrumb-item active">Site Users</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
</div><br>

<div class="container" style="min-height: 100vh;">
  <h2 align="center">Site Users</h2>
  <br>

    <!--Search Bar-->
    <div class="row">
      <div class="col-sm-8"></div><!-- /.col -->
      <div class="col">
          <form name="searchForm" method="GET" action="{%url 'display_UsersResults' %}" onsubmit="return validateForm()">
              {% csrf_token %}
              <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="Search User by Name" name="searchquery">
                  <button class="btn btn-outline-success" type="submit" id="button-addon2">Search</button>
              </div>
              <div class="invalid-query"></div>
          </form>
      </div><!-- /.col -->
    </div><!-- /.row -->

{% if userList %}
  <h5>Active User{{userList|pluralize}}</h5>
    <div class="card">
        <h6 class="card-header">
            <div class="row align-items-start">
            <div class="col-1">
                Id
              </div>
              <div class="col">
                Name
              </div>
              <div class="col">
                Email
              </div>
              <div class="col">
                Creation Date
              </div>
              <div class="col">
                Actions
              </div>
            </div>
        </h6>
        <div class="card-body">
            {% for siteUser in userList%}
            <div class="row align-items-start">
                <div class="col-1">
                    <p class="card-text">{{siteUser.id}}</p>
                </div>
                <div class="col">
                    <p class="card-text">{{siteUser.first_name}} {{siteUser.last_name}}</p>
                </div>
                <div class="col">
                    <p class="card-text">{{siteUser.email}}</p>
                </div>
                <div class="col">
                    <p class="card-text">{{siteUser.date_joined}}</p>
                </div>
                <div class="col">
                    <a href="{% url 'siteUserDetail' siteUser.id%}" class="btn btn-success">Records</a>
                    {% if siteUser.id != 1 %}
                      <a href="{%url 'siteUserDisable' siteUser.id %}" class="btn btn-danger">Disable</a>
                    {% endif %}
                </div>
                <br><br><br>
            </div>
            {% endfor %}

        </div>
    </div>
{% endif %}
<br><br>

{% if inactive_userList %}
  <h5>Inactive User{{inactive_userList|pluralize}}</h5>
    <div class="card">
        <h6 class="card-header">
            <div class="row align-items-start">
            <div class="col-1">
                Id
              </div>
              <div class="col">
                Name
              </div>
              <div class="col">
                Email
              </div>
              <div class="col">
                Creation Date
              </div>
              <div class="col">
                Actions
              </div>
            </div>
        </h6>
        <div class="card-body">
            {% for siteUser in inactive_userList %}
            <div class="row align-items-start">
                <div class="col-1">
                    <p class="card-text">{{siteUser.id}}</p>
                </div>
                <div class="col">
                    <p class="card-text">{{siteUser.first_name}} {{siteUser.last_name}}</p>
                </div>
                <div class="col">
                    <p class="card-text">{{siteUser.email}}</p>
                </div>
                <div class="col">
                    <p class="card-text">{{siteUser.date_joined}}</p>
                </div>
                <div class="col">
                    <a href="{% url 'siteUserDetail' siteUser.id%}" class="btn btn-success">Records</a>
                    <a href="{%url 'siteUserEnable' siteUser.id %}" class="btn btn-secondary">Enable</a>
                </div>
                <br><br><br>
            </div>
            {% endfor %}

        </div>
    </div>
</div>
{% endif %}

<br><br><br>
{% endblock %}