{% extends "PlantWebApp/base-dashboard.html" %}

{% block content%}

<!--Site Admin Content header-->
<div class="container-fluid">
<div class="content-header">
    <div class="row">
      <div class="col-sm-7">
        <h3 class="m-0">User Reset Password</h3>
      </div><!-- /.col -->
      <div class="col">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="{% url 'user_home' %}">Dashboard</a></li>
          <li class="breadcrumb-item"><a href="{% url 'siteUsersList' %}">Site Users</a></li>
          <li class="breadcrumb-item"><a href="{% url 'siteUserDetail' user_dat.id%}">{{user_dat.username}}</a></li>
          <li class="breadcrumb-item active">Reset Password</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
</div><br>
</div>

<div class="container-fluid" style="min-height: 100vh;">
    <form method="POST" action="">
        {% csrf_token %}
        <label for="exampleFormControlInput1" class="form-label">New Password</label>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="new_pw"><br>
        <p align="center"><button type="submit" class="btn btn-outline-success">Submit</button> </p>        
    </form>
</div>

{% endblock %}