<form method="post" action="">
    {% csrf_token %}
  
    <div class="modal-header">
      <h3 class="modal-title">Delete Use Tag</h3>
    </div>
  
    <div class="modal-body">
      <p>Are you sure you want to delete the plant usage tag :
        <strong> {{ usage.usage_tag }} </strong> ?</p>
    </div>
  
    <div class="modal-footer">
      <button type="submit" class="btn btn-danger">Delete</button>
      <a href="{%url 'usageTagsSettings' %}" class="btn btn-light">Close</a>
    </div>
  
</form>