{% extends "PlantWebApp/base-dashboard.html" %}
{% load static %}

{% block content%}
<!--django-bootstrap-modal-forms-->
<script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>


<!--Site Admin Content header-->
<div class="content-header" style="padding-left:25px ;">
    <div class="row">
      <div class="col-sm-9">
        <h3 class="m-0">Ethnobotanical Usage Tags</h3>
      </div><!-- /.col -->
      <div class="col">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="{% url 'user_home' %}">Dashboard</a></li>
          <li class="breadcrumb-item active">Site Users</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
</div><br>

<div class="container">Search+Pagination+Add Tag</div><br>

<div class="container">
    <div class="card">
        <h6 class="card-header">
            <div class="row align-items-start">
            <div class="col-3">
                Id
              </div>
              <div class="col">
                Usage Tag
              </div>
              <div class="col-3">
                Actions
              </div>
            </div>
        </h6>
        <div class="card-body">
            {% for use in uses%}
            <div class="row align-items-start">
                <div class="col-3">
                    <p class="card-text">{{use.id}}</p>
                </div>
                <div class="col">
                    <p class="card-text">{{use.usage_tag}}</p>
                </div>
                <div class="col-3">
                    <button type="button" class="update-tag bs-modal btn btn-sm btn-primary" data-form-url="{% url 'usageTagsUpdate' use.id%}">Update</button>
                    <button type="button" class="delete-tag bs-modal btn btn-sm btn-danger" data-form-url="{% url 'usageTagsDelete' use.id%}">Delete</button>
                </div>
                <br><br><br>
            </div>
            {% endfor %}

        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
      </div>
    </div>

</div>

<!--Javascript-->
<script type="text/javascript">
  $(function () {

    $(".update-tag").each(function () {
        $(this).modalForm({formURL: $(this).data("form-url")});
    });

    // Delete book buttons - formURL is retrieved from the data of the element
    $(".delete-tag").each(function () {
        $(this).modalForm({formURL: $(this).data("form-url"), isDeleteForm: true});
    });

    });
</script>

{% endblock %}