<form method="post" action="">
    {% csrf_token %}
    <div class="modal-header">
        <h4>Usage Tag Creation</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
  
    <div class="modal-body">
      <br>
      {% for field in form %}
        <div class="form-group{% if field.errors %} invalid{% endif %}">
          <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
          <span style="padding-left:5em">{{ field }}</div>
          <br>
          {% for error in field.errors %}
            <p class="help-block" style="color: red;">{{ error }}</p>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  
    <div class="modal-footer">
        <button type="submit" class="btn btn-success">Create</button>
        <!--a href="{%url 'usageTagsSettings' %}" class="btn btn-light">Cancel</a-->
        <button type="button" class="btn btn-light" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
    </div>
</form>