{% extends "PlantWebApp/base-dashboard.html" %}
{% load static %}

{% block content%}
<!-- Google Font: Source Sans Pro -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

<!--https://github.com/StephanWagner/svgMap>
<script src="https://cdn.jsdelivr.net/npm/svg-pan-zoom@3.6.1/dist/svg-pan-zoom.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/StephanWagner/svgMap@v2.1.1/dist/svgMap.min.js"></script>
<link href="https://cdn.jsdelivr.net/gh/StephanWagner/svgMap@v2.1.1/dist/svgMap.min.css" rel="stylesheet"-->


<!--div class="col py-3"-->

<!--Site User Content Header-->
<div class="content-header" style="padding-left:25px ;">
    <div class="row">
      <div class="col-sm-10">
        <h3 class="m-0">User Dashboard</h3>
      </div><!-- /.col -->
    </div><!-- /.row -->
</div><br>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
          <!-- Small boxes (Stat box) -->
          <div class="row">
            <div class="col-lg-4 col-6">
              <!-- small box -->
              <div class="small-box" style="background-color: #d6f7e7;">
                  <div class="row">
                    <!--div class="inner"-->
                    <div class="col-sm-4" style="margin-left: 20px;">
                        <br>
                        <div id="total_plant">
                            <h3>{{pub_plant_list.count}}</h3>
                        </div>
                    <p>Records Published</p>
                    </div>
                    <!--div class="icon"-->
                    <div class="col" style="display:flex; justify-content: center; align-items: center;">
                        <br>
                        <i class="fas fa-seedling fa-3x"></i>
                    </div>
                </div>
                </div>
            </div><!-- ./col -->

            <div class="col-lg-4 col-6">
              <!-- small box -->
              <div class="small-box" style="background-color: #b1dfc9;">
                  <div class="row">
                    <!--div class="inner"-->
                    <div class="col-sm-4" style="margin-left: 20px;;">
                    <br>
                        <div id="pub">
                            <h3>{{plant_list.count}}</h3>
                        </div>
                    <p>To Be Verified</p>
                    </div>
                    <!--div class="icon"-->
                    <div class="col" style="display:flex; justify-content: center; align-items: center;">
                        <br>
                        <i class="fab fa-pagelines fa-3x"></i>
                    </div>
                </div>
                </div>
            </div><!-- ./col -->

            <div class="col-lg-4 col-6">
                <!-- small box -->
                <div class="small-box" style="background-color: #89c7aa;">
                    <div class="row">
                      <!--div class="inner"-->
                      <div class="col-sm-4" style="margin-left: 20px;;">
                          <br>
                        <div id="use">
                            <h3>{{reject_list.count}}</h3>
                        </div>
      
                      <p>Records Rejected</p>
                      </div>
                      <!--div class="icon"-->
                      <div class="col" style="display:flex; justify-content: center; align-items: center;">
                          <br>
                          <i class="fab fa-canadian-maple-leaf fa-3x"></i>
                      </div>
                  </div>
                  </div>
              </div><!-- ./col -->

          </div><!-- /.row -->
<br>

<br>
<h3 align="center">Plants by User Based On Their Uses</h3><br><br>
<div>
    <canvas id="use-chart" data-url="{% url 'use-chart' %}"></canvas>
</div>
<br><br><br>

<h3 align="center">My Plant List</h3>
<br>
<h5>Published<small>Pagination</small></h5> <br>
<div class="card">
    <h6 class="card-header">
        <div class="row align-items-start">
        <div class="col">
            Scientific Name
          </div>
          <div class="col-6">
              Common Name
          </div>
          <div class="col-4">
          </div>
        </div>
    </h6>
    <div class="card-body">
        {% for plant in pub_plant_list%}
        <div class="row align-items-start">
            <div class="col">
                <p class="card-text">{{plant.plantScientificName}}</p>
            </div>
            <div class="col-6">
                <p class="card-text">{{plant.plantLocalName}}</p>
            </div>
            <div class="col-4">
                <a href="{% url 'display_plant' plant.id%}" class="btn btn-outline-success">Details</a>
                <a href="{% url 'update_form' plant.id%}" class="btn btn-outline-primary">Update</a>
                <a href="{% url 'delete_form' plant.id%}" class="btn btn-outline-danger">Delete</a>
            </div>
            <br><br><br>
        </div>
        {% endfor %}

    </div>
</div>
<br>

<h5>To be Verified</h5><br>
<div class="card">
    <h6 class="card-header">
        <div class="row align-items-start">
        <div class="col">
            Scientific Name
          </div>
          <div class="col-6">
              Common Name
          </div>
          <div class="col-4">
          </div>
        </div>
    </h6>
    <div class="card-body">
        {% for plant in plant_list%}
        <div class="row align-items-start">
            <div class="col">
                <p class="card-text">{{plant.plantScientificName}}</p>
            </div>
            <div class="col-6">
                <p class="card-text">{{plant.plantLocalName}}</p>
            </div>
            <div class="col-4">
                <a href="{% url 'display_plant' plant.id%}" class="btn btn-outline-success">Details</a>
                <a href="{% url 'update_form' plant.id%}" class="btn btn-outline-primary">Update</a>
                <a href="{% url 'delete_form' plant.id%}" class="btn btn-outline-danger">Delete</a>
            </div>
            <br><br><br>
        </div>
        {% endfor %}

    </div>
</div>
<br>

<h5>Rejected</h5>
<br>
<div class="card">
    <h6 class="card-header">
        <div class="row align-items-start">
        <div class="col">
            Scientific Name
          </div>
          <div class="col-6">
              Common Name
          </div>
          <div class="col-4">
          </div>
        </div>
    </h6>
    <div class="card-body">
        {% for plant in reject_list%}
        <div class="row align-items-start">
            <div class="col">
                <p class="card-text">{{plant.plantScientificName}}</p>
            </div>
            <div class="col-6">
                <p class="card-text">{{plant.plantLocalName}}</p>
            </div>
            <div class="col-4">
                <a href="{% url 'display_plant' plant.id%}" class="btn btn-outline-success">Details</a>
                <!--a href="{% url 'update_form' plant.id%}" class="btn btn-outline-primary">Update</a-->
                <a href="{% url 'delete_form' plant.id%}" class="btn btn-outline-danger">Delete</a>
            </div>
            <br><br><br>
        </div>
        {% endfor %}

    </div>
</div>

</div>
</div>
<!--/div-->

<script>
        $(function () {

        var $useChart = $("#use-chart");
        $.ajax({
        url: $useChart.data("url"),
        success: function (data) {

            var ctx = $useChart[0].getContext("2d");

            new Chart(ctx, {
            type: 'bar', 
            data: {
                labels: data.labels,
                datasets: [{
                label: 'Plant record',
                backgroundColor: 'green',
                data: data.data
                }]          
            },
            options: {
                responsive: true,
                legend: {
                position: 'top',
                },
                title: {
                display: true,
                text: 'Bar Chart of Plants Based On Their Uses'
                }
            }
            });

        }
        });

        });

</script>
{% endblock %}
