{% extends "PlantWebApp/base-dashboard.html" %}
{% load static %}

{% block content%}
<!-- Google Font: Source Sans Pro -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">


<!--div class="col py-3"-->

        <!--Site Admin Content header-->
        <div class="content-header" style="padding-left:25px ;">
            <div class="row">
              <div class="col-sm-9">
                <h3 class="m-0">User Profile</h3>
              </div><!-- /.col -->
              <div class="col">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="{% url 'user_home' %}">Dashboard</a></li>
                  <li class="breadcrumb-item active">User Profile</li>
                </ol>
              </div><!-- /.col -->
            </div><!-- /.row -->
      </div><br>

      <!--Main Content-->
      <div class="container-fluid" style="min-height: 100vh;">
        
        <!--Basic Data-->
        <div class="row" style="background-color: #a1db94;">
            <h4 style="color: white; display: flex; justify-content: center;">
                Basic Data
            </h4>
        </div>
        <br>

        <div class="wrapper"></div>
        
        <br><br>

        <!--Buttons-->
        <div class="btn-wrapper">
            <p align="center">
                <a href="{% url 'user_profile_update' id %}" class="btn btn-outline-primary">Update Account</a>
                <!--a href="#" class="btn btn-outline-success">Change Password</a-->
                <a href="{%url 'user_delete' id %}" class="btn btn-outline-danger">Delete Account</a>
            </p>
        </div>

      </div>

<script>
    // Render data from API
    function buildList(){
        var wrapper = document.querySelector(".wrapper")
        var wrapperBtn = document.querySelector(".btn-wrapper")

        //https://digital-plant-herbarium.herokuapp.com/
        var url = "https://digital-plant-herbarium.herokuapp.com/api/user-data-api/{{id}}"

        fetch(url)
        .then((resp) => resp.json())
        .then(function(data){
            console.log(data)

            var roleStr = ""

            console.log(data.profile.role)
            if (data.profile.role == 0)
            {
                roleStr = "Site Administrator"
            }
            else if (data.profile.role == 1)
            {
                roleStr = "Committee Board"
            }
            else
            {
                roleStr = "Researcher"
            }


            var item = `
                <div class="row">
                    <div class="col-sm-3">First Name:</div>
                    <div class="col-sm">${data.first_name}</div>
                </div><br>
                <div class="row">
                    <div class="col-sm-3">Last Name:</div>
                    <div class="col-sm">${data.last_name}</div>
                </div><br>
                <div class="row">
                    <div class="col-sm-3">Username:</div>
                    <div class="col-sm">${data.username}</div>
                </div><br>

            <!--Contact Information-->
            <div class="row" style="background-color: #91c785;">
                <h4 style="color: white; display: flex; justify-content: center;">
                    Contact Information
                </h4>
            </div><br>
            <div class="row">
                <div class="col-sm-3">Email Address:</div>
                <div class="col-sm">${data.email}</div>
            </div><br>

            <!--Job Description-->
            <div class="row" style="background-color: #76a06d;">
                <h4 style="color: white; display: flex; justify-content: center;">
                    Job Description
                </h4>
            </div><br>
            <div class="row">
                <div class="col-sm-3">Institution:</div>
                <div class="col-sm">${data.profile.institution}</div>
            </div><br>
            <div class="row">
                <div class="col-sm-3">Department:</div>
                <div class="col-sm">${data.profile.dept}</div>
            </div><br>
            <div class="row">
                <div class="col-sm-3">Role:</div>
                <div class="col-sm">${roleStr}</div>
            </div>`

            wrapper.innerHTML += item
                
            if (data.profile.is_verified == false){
                item = `
                <p align="center">
                    <a href="https://digital-plant-herbarium.herokuapp.com/site-user-processing/${data.id}" class="btn btn-outline-primary">Verify Account</a>
                    <a href="https://digital-plant-herbarium.herokuapp.com/user-delete/${data.id}" class="btn btn-outline-danger">Delete Account</a>
                </p>
                `
                wrapperBtn.innerHTML = item
            }
        })
    }  
    buildList()
</script>

<!--/div-->   
{% endblock %}