{% extends "PlantWebApp/base-dashboard.html" %}

{% block content%}
<!-- Google Font: Source Sans Pro -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">


<div class="col py-3">
    {% if request.user.is_staff %}
        <!--Site Admin Content header-->
        <div class="content-header" style="padding-left:25px ;">
            <div class="row">
                <div class="col-sm-7">
                    <h3 class="m-0">User Profile</h3>
                  </div><!-- /.col -->
            <div class="col">
                <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="{% url 'user_home' %}">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="{% url 'siteUsersList' %}">Site Users</a></li>
                <li class="breadcrumb-item"><a href="{% url 'siteUserDetail' user_data.id%}">{{user_data.username}}</a></li>
                <li class="breadcrumb-item active">Update</li>
                </ol>
            </div><!-- /.col -->
            </div><!-- /.row -->
        </div><br>
    {% else %}
        <!--Site Admin Content header-->
        <div class="content-header" style="padding-left:25px ;">
            <div class="row">
              <div class="col-sm-8">
                <h3 class="m-0">User Profile</h3>
              </div><!-- /.col -->
              <div class="col">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="{% url 'user_home' %}">Dashboard</a></li>
                  <li class="breadcrumb-item"><a href="{%url 'user_profile' user.id %}">User Profile</a></li>
                  <li class="breadcrumb-item active">Update</li>
                </ol>
              </div><!-- /.col -->
            </div><!-- /.row -->
      </div><br>
      {% endif %}

      <!--Main Content-->
      <div class="container-fluid" style="min-height: 100vh;">
        <form method="POST" action="" id='p-form'>
            {% csrf_token %}
            <!--Basic Data-->
            <div class="row" style="background-color:  #a1db94;">
                <h4 style="color: white; display: flex; justify-content: center;">
                    Basic Data
                </h4>
            </div>
            <br>
                <div class="row">
                    <div class="col-sm-3">First Name:</div>
                    <div class="col-sm">
                        <div class="input-group input-group-sm mb-3">
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="first_name" value="{{user_data.first_name}}">
                        </div>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-sm-3">Last Name:</div>
                    <!--div class="col-sm">{{user_data.last_name}}</div-->
                    <div class="col-sm">
                        <div class="input-group input-group-sm mb-3">
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="last_name" value="{{user_data.last_name}}">
                        </div>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-sm-3">Username:</div>
                    <!--div class="col-sm">{{user_data.username}}</div-->
                    <div class="col-sm">
                        <div class="input-group input-group-sm mb-3">
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="username" value="{{user_data.username}}" disabled>
                        </div>
                    </div>
                </div><br>

            <!--Contact Information-->
            <div class="row" style="background-color: #91c785;">
                <h4 style="color: white; display: flex; justify-content: center;">
                    Contact Information
                </h4>
            </div><br>
            <div class="row">
                <div class="col-sm-3">Email Address:</div>
                <div class="col-sm">
                  <div class="input-group input-group-sm mb-3">
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="email" value="{{user_data.email}}">
                  </div>
                </div>
            </div><br>

            <!--Job Description-->
            <div class="row" style="background-color: #76a06d;">
                <h4 style="color: white; display: flex; justify-content: center;">
                    Job Description
                </h4>
            </div><br>
            <div class="row">
                <div class="col-sm-3">Institution:</div>
                <div class="col-sm">
                    <div class="input-group input-group-sm mb-3">
                      <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="institution" value="{{user_data.profile.institution}}">
                    </div>
                </div>
            </div><br>
            <div class="row">
                <div class="col-sm-3">Department:</div>
                <div class="col-sm">
                    <div class="input-group input-group-sm mb-3">
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="dept" value="{{user_data.profile.dept}}">
                    </div>
                </div>
            </div><br>
            <div class="row">
                <div class="col-sm-3">Job Position:</div>
                <div class="col-sm">
                    {% if user_data.profile.role == 0 %}
                        <div class="col-sm">Site Administrator</div>
                    {% elif user_data.profile.role == 1%}
                        <div class="col-sm">Committee Board</div>
                    {% else %}
                        <div class="col-sm">Researcher</div>
                    {% endif %}
                </div>
            </div><br>

            <p align="center">
                <button type="submit" class="btn btn-outline-success">Save</button>
            </p><br>

            {% if request.user.id == user_data.id %}
            <!--Buttons-->
                <p align="center">
                    <a href="{%url 'password_change' %}" class="btn btn-outline-primary">Change Password</a>
                    <!--a href="#" class="btn btn-outline-success">Change Password</a-->
                    <a href="{%url 'user_delete' user.id %}" class="btn btn-outline-danger">Delete Account</a>
                </p>
            {% endif %}
        </form>

      </div>



</div>   
{% endblock %}