{% extends "PlantWebApp/base-dashboard.html" %}
{% load static %}

{% block content%}
<!--div class="col py-3"-->
    <!--Site Admin Content header-->
    <div class="content-header" style="padding-left:25px ;">
        <div class="row">
          <div class="col-sm-7">
            <h3 class="m-0">User Account Deletion</h3>
          </div><!-- /.col -->
          <div class="col">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'user_home' %}">Dashboard</a></li>
              <li class="breadcrumb-item"><a href="{%url 'user_profile' site_user.id %}">User Profile</a></li>
              <li class="breadcrumb-item active">User Account Deletion</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
  </div><br><br>

    <div class="container" style="height: 70vh;">
        
        <h5 align="center">Are you sure you want to delete account <strong>"{{ site_user.username }}"</strong> ?</h5>
        <p align="center"><span style="color: red;">Warning</span>: If you delete this account, you will permanently lose all data associated with the account.</p>
        <br>

        <div class="form" style="display: flex; justify-content: center;">
            <form method="POST" action="">
                {% csrf_token %}
                <a href="{%url 'user_profile' site_user.id %}" class="btn btn-light">Cancel</a>
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>
<!--/div-->
{% endblock content %}