{% extends "PlantWebApp/base-dashboard.html" %}
{% load static %}


{% block content%}

<style>
    body{
        background-color: rgba(255, 255, 255, 0.966);
    }

    h1, p{
        padding-left: 25px;
    }
</style>

<div class="content-header" style="padding-left:25px ;">
    <div class="row">
      <div class="col-sm-9">
      </div><!-- /.col -->
      <div class="col">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="{% url 'user_home' %}">Dashboard</a></li>
          <li class="breadcrumb-item active">Permission Form</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div>

<div class="container">

<h1>View Permissions</h1><br>

<p>Assign Users with Permissions to view research findings</p><br>

    <form method="POST" enctype="multipart/form-data" action="{%url 'display_permissionForm' %}" id='p-form'>  <!--url name-->
    <!--Can validate form using Bootstrap-->
        {% csrf_token %}  <!--Token to prevent hackers from hijacking-->
        <div class="container">
    
            <div class="mb-3">
                <label for="inputState" class="form-label">Select Plant</label>
                    <select id="mySelect2" class="form-select" name="plantID" onchange="changeFunc(value);">
                        <option></option>
                        {% for data in plant %}
                            <option value="{{ data.id }}">{{ data.plantScientificName }}</option>
                        {% endfor %}
                    </select>
            </div>

            <div class="mb-3">
                <label for="inputState" class="form-label">Select User</label>
                    <!--select id="selectUser" class="form-select" name="allowed_user">
                        <option></option>
                        {% for dat in user_list %}
                            <option value="{{ dat.id }}">{{ dat.first_name }} {{ dat.last_name }}</option>
                        {% endfor %}
                    </select-->  
                    <select id="selectUser" class="form-select" name="allowed_user" disabled>
                        <option></option>
                    </select>  

            </div>


            <br><br>
            <div class="d-grid gap-2">
            <button type="submit" class="btn btn-success">Assign</button>
            </div>
            <br>
        </div>

        
    </form>

</div>
<br><br>

<script type="text/javascript">    

        //Select2js - ethnobotanical usage tags
        $(document).ready(function() {
            $('#mySelect2').select2({
                    'placeholder':'Select Plants...',
                    //allowClear: true,
                    //tags: true,
            });

            $('#selectUser').select2({
                    'placeholder':'Select User...',
                    //allowClear: true,
            });

        });

    //Query All input fields
    function changeFunc(i) {
        console.log(i);

        var url = "http://127.0.0.1:8000/api/user-api/"+i

        fetch(url)
        .then((resp) => resp.json())
        .then(function(data){
            console.log(data)


            var wrapper = document.querySelector("#selectUser")

            for (var i in data){
                item = `<option value="${data[i].id}"> ${data[i].first_name} ${data[i].last_name}</option>`
                wrapper.innerHTML += item
            }

        })

        document.getElementById("selectUser").disabled = false;
        
    }
    
</script>


{% endblock content %}